/* *{
  text-align: center;
} */




/* .div1{
 background-color: rgba(0, 255, 0);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  animation: Dhaval 1s ease-in-out infinite alternate;
} */


/* @keyframes Dhaval{
  0%{background-color:  green; left: 0px; }
  25%{background-color: pink; left: 100px;} 
  50%{background-color: aqua; left: 200px;} 
  100%{ background-color: blue; left: 300px;} 
} */


/* 
@media(min-width:300px) and (max-width:400px){
  .mainDiv{
    background-color: rgba(0, 0, 255, .5);
  }
  .div1{
    background-color: rgba(0, 0, 255, 1);
  }
}

@media(min-width:400px) and (max-width:600px){
  .mainDiv{
    background-color: rgba(0, 255, 255, .5);
  }
  .div1{
    background-color: rgba(0, 255, 255, 1);
  }
}

@media(min-width:600px) and (max-width:800px){
  .mainDiv{
    background-color: rgba(255, 0, 255, .5);
  }
  .div1{
    background-color: rgba(255, 0, 255, 1);
  }
}

@media(min-width:800px){
  .mainDiv{
    background-color: rgba(255, 0, 0, .5);
  }
  .div1{
    background-color: rgba(255, 0, 0, 1);
  }
} */