* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

.header {
  text-align: center;
  background-color: blueviolet;
}

.div1 {
  text-align: center;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.inputTodo {
  margin: 10px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
}

.AddBtn,
.selectBtn {
  margin: 10px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: green;
  color: aliceblue;
  cursor: pointer;
}

.div2 {
  background-color: cadetblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.ShowAllBtn {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}
.pendingBtn {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: purple;
  color: aliceblue;
  cursor: pointer;
}
.completeBtn {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: aliceblue;
  cursor: pointer;
}
.clrComBtn {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: chocolate;
  color: aliceblue;
  cursor: pointer;
}
.clrAllBtn {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: aliceblue;
  cursor: pointer;
}

.mainData {
  margin-top: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoData {
  margin: 3px;
  width: 600px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px -8px 6px 0px grey;
}

.todoEdit {
  border: none;
  outline: none;
  font-size: 25px;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}

.todoCheck {
  width: 36px;
  height: 44px;
}

.todoDelete {
  font-size: 20px;
  border-radius: 10px;
  background-color: red;
  color: aliceblue;
  cursor: pointer;
}

.todoValue {
  cursor: pointer;
  font-family: cursive;
  color: orangered;
}

.head {
  position: fixed;
  width: 100%;
  top: 0px;
}

.total {
  margin-left: 30px;
  font-size: 40px;
  border-radius: 10px;
}

/* learning CSS */

/* 
*{
  text-align: center;
} 
*/

/* 
.div1{
 background-color: rgba(0, 255, 0);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  animation: Dhaval 1s ease-in-out infinite alternate;
} 
*/

/* 
@keyframes Dhaval{
  0%{background-color:  green; left: 0px; }
  25%{background-color: pink; left: 100px;} 
  50%{background-color: aqua; left: 200px;} 
  100%{ background-color: blue; left: 300px;} 
} 
*/

/* 
@media(min-width:300px) and (max-width:400px){
  .mainDiv{
    background-color: rgba(0, 0, 255, .5);
  }
  .div1{
    background-color: rgba(0, 0, 255, 1);
  }
}
*/

/*
@media(min-width:400px) and (max-width:600px){
  .mainDiv{
    background-color: rgba(0, 255, 255, .5);
  }
  .div1{
    background-color: rgba(0, 255, 255, 1);
  }
}
*/

/*
@media(min-width:600px) and (max-width:800px){
  .mainDiv{
    background-color: rgba(255, 0, 255, .5);
  }
  .div1{
    background-color: rgba(255, 0, 255, 1);
  }
}
*/

/*
@media(min-width:800px){
  .mainDiv{
    background-color: rgba(255, 0, 0, .5);
  }
  .div1{
    background-color: rgba(255, 0, 0, 1);
  }
} 
*/